# Python
__pycache__/

# Conda / virtual environments
.env/
.venv/
env/
*.Conda

# Jupyter
.ipynb_checkpoints/

# Vscode
.vscode/

# Data
data/preprocessed/

# Experiments
experiments/**/*.png

# Bash automation
*.sh
!example.sh

# Logs
*.log
lightning_logs/
.pt_tmp/
logs/
nohup.out
output.log

# Models
saved_models/