experiment: 
  name: transformer/transformer_pca_gene_1
  description: "Transformer with PCA for feature extraction."

data: 
  file_name: gene_1.txt
  data_dir: data/raw

preprocessing:
  x_scaling: None
  y_scaling: log2
  x_scaler_params: {}
  y_scaler_params: {}


feature_selection:
  apply: true
  selector_name: scikitlearn_transformation
  selector_params: {}
  estimator_config: 
    name: pca
    params: {}

estimator:
  name: tabtransformer
  est_params: {"model_params__task": "regression",
  "trainer_params__max_epochs": 100,
  "optimizer_params__optimizer": "Adam",
  "trainer_params__batch_size": 8,
  "model_params__input_embed_dim": 12}

tuning:
  tuning_config:
    param_grid:
      model_config__model_params__learning_rate: 
        type: loguniform
        min: 0.0001
        max: 0.01
      model_config__model_params__num_attn_blocks:
        type: randint
        min: 1
        max: 6
      model_config__model_params__num_heads:
        type: categorical
        list: [1, 2, 3, 4, 6]
      model_config__model_params__transformer_activation: 
        type: categorical
        list: ["LeakyReLU", "GEGLU", "Tanh"]
      model_config__model_params__attn_dropout:
        type: loguniform
        min: 0.05
        max: 0.3
      model_config__model_params__add_norm_dropout:
        type: loguniform
        min: 0.05
        max: 0.3
      selector_estimator_config__n_components: 
        type: randint
        min: 20
        max: 500
    n_iter: 60